<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Home</title>

    <link rel="stylesheet" href="icons/css/all.min.css">
    <link rel="stylesheet" href="icons/css/brands.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/modal.css">
    <link rel="stylesheet" href="stylesheets/navigation.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
    <!-- navigation -->
    <%- include('./partial/navigation.ejs') %>

    <!-- modal -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <!-- alert -->
                <button class="close-btn">&#10005;</button>

                <p class="result">Result: </p>

                <!-- craete form -->
                <form action="/" method="POST" id="createForm">
                    <input type="text" id="companyName" name="companyName" placeholder="Company Name">
                    <input type="text" id="state" name="state" placeholder="Company State">
                    <input type="text" id="city" name="city" placeholder="Company City">
                    <input type="text" id="telephoneNumber" name="telephoneNumber" placeholder="Telephone Number">
                    <input type="text" id="registerationNumber" name="registerationNumber" placeholder="Registeration Number">

                    <button type="submit">create</button>
                </form>
            </div>
        </div>
    </div>

    <!-- main content -->
    <div class="content">
        <div class="main">
            <!-- main header -->
            <div class="main-header">
                <h1>Companies</h1>
                <div class="buttons">
                    <div id="two" class="button">new company</div>

                    <form action="/company/company-filter" id="filterDateForm" class="date-filter">
                        <label from: </label>
                        <input id="startDate" name="startDate" type="date">

                        <label to: </label>
                        <input id="endDate" name="endDate" type="date">

                        <button type="submit">search</button>
                    </form>
                </div>

                <p class="filterAlert">empty value</p>
            </div>

            <!-- cards -->
            <ul class="cards">
                <% for( let index = 0; index < companies.length; index++ ) { %>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_content">
                            <ul class="information">
                                <li class="title"><%= companies[index].companyName %> </li>
                                <li><span>company ID: </span> <%= companies[index].id %> </li>
                                <li><span>telephone number: </span> <%= companies[index].telephoneNumber %> </li>
                                <li><span>state: </span> <%= companies[index].state %> </li>
                                <li><span>city: </span> <%= companies[index].city %> </li>
                                <li><span>registeration number:</span> <%= companies[index].registerationNumber %> </li>
                                <li><span>registeration date:</span> <%= companies[index].persian %> </li>

                                <a href="/company/read/<%= companies[index].id %>" class="read-btn btn card_btn">more info</a>
                            </ul>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

    <!-- scripts -->
    <script src="javascripts/jquery-3.5.1.min.js"></script>
    <script src="javascripts/navigation.js"></script>
    <script src="javascripts/modal.js"></script>
    <!-- <script src="javascripts/companyDateFilter.js"></script> -->
    <script src="javascripts/createCompany.js"></script>
</body>
</html>